nav {
    padding:2em;
    background-color: rgba(255, 145, 106, 0.986);
}
.navbar {
    background-color: rgba(255, 145, 106, 0.986);
    
  }
  
  
body{
    background-color:rgba(17, 58, 104, 0.5);
}
.carousel-inner{
    padding:2em;
}

.card{
    width:250px;
    height:auto;
    border:10px;
    padding: 2em;
}
.card-img-top{
    width:auto;
    height:250px;
}
.card-deck{
    padding: 2em;
}
